.navbar{
    background-color: #022E57;


}

.pesquisa{
    margin-right: 250px !important;
    width: 700px;
}

.profile{
    padding-left: 0px ;

}

.h1{
    color: #022E57;
    font-family: Carme;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1075px;
    height: 58px;
    flex-shrink: 0;
}

.p{
    color: #0C356A;
    font-family: Carme;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
