body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar{
    background-color: #022E57;


}


.profile{
    padding-left: 0px ;

}

.pesquisa{
    margin-right: 250px !important;
    width: 700px;
    max-width: 600px;} 
    
    
.dropdown li{
    display: inline-block;
}

.dropdown li a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: 15px;
}

.dropdown li a:hover{
    background-color: #546F88;
}

.dropMenu a{
    display: block;  
    color: #FFF; 
    display: inline-block;
}

.dropMenu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #546F88;
}

.drop:hover .dropMenu{
    display: block;
}

